In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('New Production Status Summary 2022-05-11.xlsx')

In [9]:
df2 = df['Project Name'].value_counts().to_frame()

In [15]:
df2

                                        Project Name
GPSMAP 9000                                        5
BMW MGU22                                          4
dezl OTR Series 2022                               4
RV/Camper 2022                                     3
ECHOMAP UHD2 (Touch)                               3
...                                              ...
eTrex SE                                           1
Garmin Swim 2                                      1
Varia eBike Radar Tail Light (eRTL615)             1
Approach S42                                       1
GPSMAP 68                                          1

[134 rows x 1 columns]

In [16]:
df2[df2['Project Name']>1]

                                            Project Name
GPSMAP 9000                                            5
BMW MGU22                                              4
dezl OTR Series 2022                                   4
RV/Camper 2022                                         3
ECHOMAP UHD2 (Touch)                                   3
Catalyst Kart/Moto/Roadster                            3
Descent Mk3 Series                                     2
Forerunner 265                                         2
TXTW22_Drive+3.0 (Lawrence DA & Taroko EB)             2
Tacx NEO Bike Plus                                     2
DriveSmart Synaptics Redesigns                         2
RV Fixed Displays (7"/10")                             2
Forerunner 255 and 255 Music                           2
ECHOMAP UHD2 (Keyed)                                   2