In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
raw = pd.read_excel('absent.xlsx',parse_dates=[0])
raw.head()

        Date  Hours
0 2022-01-03    3.0
1 2022-01-04    8.0
2 2022-01-22    8.0
3 2022-02-21    8.0
4 2022-02-25    8.0

In [32]:
raw['Month'] = raw.Date.dt.month
raw['Day'] = raw.Date.dt.day

In [34]:
raw.set_index(['Month','Day']).unstack(level='Month')['Hours'].fillna(0).style.background_gradient(cmap="Reds", axis=None).to_excel('heatmap.xlsx')