In [1]:
import pandas as pd

In [2]:
click = pd.read_excel('Click_MP.xlsx')
click.head()

,SerialNumber,tDateTime,result,FailItem,Btn1_click,Btn2_click,Btn3_click,Btn4_click,Btn5_click
0,P9PA562195,2022-10-11 02:55:49,1,0,0.24,0.23,0.23,0.21,0.25
1,3430508938,2022-10-11 02:59:25,1,0,0.25,0.21,0.26,0.25,0.24
2,3430508940,2022-10-11 03:01:12,1,0,0.25,0.25,0.25,0.25,0.26
3,3430508941,2022-10-11 03:02:31,1,0,0.24,0.25,0.21,0.26,0.25
4,P9PBJ17054,2022-10-11 03:13:51,1,0,0.25,0.23,0.23,0.22,0.25

In [10]:
click_keepfirst = click.drop_duplicates(subset='SerialNumber', keep='first')
click_keepfirst.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1973 entries, 0 to 2283
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SerialNumber  1973 non-null   object
 1   tDateTime     1973 non-null   datetime64[ns]
 2   result        1973 non-null   int64
 3   FailItem      1973 non-null   int64
 4   Btn1_click    1973 non-null   float64
 5   Btn2_click    1973 non-null   float64
 6   Btn3_click    1973 non-null   float64
 7   Btn4_click    1973 non-null   float64
 8   Btn5_click    1973 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 154.1+ KB

In [15]:
click_keepfirst.FailItem.value_counts()

0     1917
7       38
37       9
27       7
17       2
Name: FailItem, dtype: int64

In [13]:
click_keeplast = click.drop_duplicates(subset='SerialNumber', keep='last')
click_keeplast.FailItem.value_counts()

0     1942
7       26
37       3
27       1
17       1
Name: FailItem, dtype: int64