In [4]:
import pymssql
import pandas as pd

In [18]:
conn = pymssql.connect(server='ATE_SERVER_T3', user='ate_oper', password='ate.oper', database='ate_db')

In [21]:
df = pd.read_sql_table('ESN_Jobs', conn)

NotImplementedError: read_sql_table only supported for SQLAlchemy connectable.